
   <div class="card col-sm-6"data-groups="{{shortdescr}}" >
         <img class="card-img-top productimg" src="{{lienimage}}" alt="">

  <div class="card-body  border-top">
    <h5 class="card-title text-left">{{brand.name}}</h5>
    <p class="card-text text-left">{{shortdescr}}</p>

    <a href="/artefact/product/{{no}}" class="btn btn-primary float-right">Plus d'infos</a>
  </div>
</div>