{{!-- <tr>
   <td><img src={{lienimage}}></img></td>
   <td>{{no}}</td>
   <td>{{periodno}}</td>
   <td>{{productno}}</td>
   <td>{{clientno}}</td>
   <td>{{starttime}}</td>
   <td>{{endtime}}</td>
   <td>{{stars}}</td>
   <td>{{feedback}}</td>
</tr> --}}

 <div class="row">
                <div class="well">
                <div class="list-group">
                  <a href="#" class="list-group-item active test">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive"  src="{{product.lienimage}}" alt="{{product.shortdescr}}" >
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class=""> {{product.distinctivesign}} </h4>
                            <p class=""> {{product.shortdescr}} </p>
                            <p class=""> {{feedback}} </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p>Note attribuée: </p>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p> Test fait le : </p>
                         <p> {{starttime}} </p>

                        </div>
                  </a> 
                </div>
                </div>
              </div>